@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url("style/header.css");

@import url(./style/carrossel.css);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --cor-letra-principal: #FFFFFF;
    --cor-botao: #167BF7;
    --cor-letra-secundario: #C0C0C0;
    --cor-fundo:#00030C;
    --cor-destaque: #D41D19;
    --fonte-principal: 'inter';
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-letra-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.conteudo-principal{
    display: flex;
    background-image: url(./img/foto\ de\ fundo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:right;
    text-align: center;
    align-items: center;
    
}

.container{
height: 100vh;
display: grid;
grid-template-columns: 50% 50%;
margin: 1%
}

.container__divisao{
    width: 85%;
   
}

.container__titulo{
   font-size: 28px;
    font-weight: 700;
   
}

.container__destaque{
 color: var(--cor-destaque);
 
}

.container__texto-principal{
    margin: 0 0 1em 0;
    color: var(--cor-letra-secundario);
}

.container__botao{
    display: block;
    padding: 1em;
    color: var(--cor-letra-principal);
    background-color: var(--cor-botao);
    border-radius: 5px;
    margin-bottom: 1em;
    
    
}

.container__botao:hover{
    background-color: var(--cor-letra-secundario);
    padding: 1.5em;
}

.container__botao_secundario{
    background-color: transparent;
    color: var(--cor-letra-principal);
    border: 2px solid var(--cor-letra-principal);
}

.conteiner__aviso{
    font-size: 12px;
    color: var(--cor-letra-secundario);

}

.container__secundario{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 1%
}

.foto__fogueira{
    width: 75%;
    margin: 7%;
}

.titulo__secundario{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 24px;
    color: var(--cor-letra-principal);
    margin-bottom: 0.3em;
}

.container__terceiro{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    
}

.container__texto-terceiro{
    color: var(--cor-letra-secundario);
}



.terceiro__botao{
    display: inline-block;
    padding: 1em;
    background-color: var(--cor-botao);
    color: var(--cor-letra-principal);
    border: solid var(--cor-botao);
    margin-top: 0.5em;
    margin-left: 1.5em;
    border-radius: 5px;

    
}

.terceiro__botao:hover{
    background-color: var(--cor-letra-secundario);
    padding: 1.2em;
    

}

.foto__ichigo{
    width: 250px;
    margin: 0 0 0 25%;
}

.dispositvos{
    
    text-align: center;
    margin-top: 8em;
    
}

.dispositivos__titulo_secundario{
    text-align: center;
    font-family: var(--fonte-principal);
    margin-bottom: 1em;
    color: var(--cor-letra-principal);
}

.dispositivos__aparelhos{
    display: flex;
    list-style: none;
    justify-content: center;
}

.dispositivos__texto{
    color: var(--cor-letra-principal);
}



.rodape__lista{
    margin: 5em 0 2em 0;
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    
}

.lista__link{
    color: var(--cor-letra-principal);
}

.lista__link:hover{
    color: var(--cor-botao);
}

.rodape__texto{
    text-align: center;
    color: var(--cor-letra-principal);
}

@media (max-width: 1280px){
   body{
    display:flexbox;
    justify-content: center;
   }
    .conteudo-principal{
        background-image: url(./img/foto\ de\ fundo.jpg);
        background-size: 50% auto;          

    }
    .rodape__lista{
        text-align: center;
        margin-left: 1em;
    }

    .dispositivos__imagem{
        width: 300px;
       
       }

}

@media (max-width: 900px){
   .dispositvos{
    margin-left: 5em;
   } 

   .dispositivos__imagem{
    width: 200px;
   
   }
 
}

@media(max-width: 768px){
    .container{
        display: flex;
    
        
    }


    .container__divisao{
       width: auto; 
    }

    .container__titulo{
        margin-bottom: 0.5em;
        
    }

    .conteudo-principal{
        background-image: none;
        
        
        
    }

    .container__texto-principal{
        align-self:flex-end

        
    }

    .container__secundario{
        display: flex;
        flex-direction: column;
        
    }

    .container__terceiro{
        display: flex;
        flex-direction: column-reverse;
        
    }

    .foto__ichigo{
        width: 40vh;
        margin: 2em 2em;
    }

    .terceiro__botao{
        margin-top: 5em;
        align-items: center;
        display: block;
        text-align: center;
        margin: auto;
    }

    .container__texto-terceiro{
        margin-bottom: 2em;
    }

    .dispositivos__aparelhos{
        display: block;
       
    }

    .dispositvos{
       text-align: center;
       margin: 2em 2em;
    }

    .rodape__lista{
        display: block;
    }
       
       
}



